* {
	box-sizing: border-box;
}

html {
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

body {
  font-size: 15px;
  margin: 0;
  background-color: #413C58;
}

input, textarea {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.buscador {
	position: absolute;
	top: 1%;
	width: 12%;
}

.botaoPesquisar {
	position: absolute;
	left: 100%;
	top: 5%;
}

.form-artista {
	background-color: #fff;
	border-radius: 8px;
	width: 22%;
	position: absolute;
	right: 0%;
	top: 3%;
	padding: 10px;
}

.form-artista h1 {
	font-size: 24px;
}

.form-artista button {
	position: relative;
	left: 58%;
	top: 10%;
	background-color: #e0e5e3;
}

.form-artista button:hover {
	background-color: #179e6c;
}

.form-artista .erroArtista {
	color: red;
	
}

.form-musica {
	background-color: #fff;
	border-radius: 8px;
	width: 22%;
	position: absolute;
	right: 0%;
	top: 40%;
	padding: 10px;
}

.form-musica h1 {
	font-size: 24px;
}

.form-musica button {
	position: relative;
	left: 58%;
	top: 10%;
	background-color: #e0e5e3;
}

.form-musica button:hover {
	background-color: #179e6c;
}
