<!DOCTYPE html>
<html ng-app="myApp" lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title> Musiteca músicas</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body ng-controller="amController">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form_main">
          <h4 class="heading"><strong>Adicionar</strong> música <span></span></h4>
          <div class="form">
            <form method="post" id="contactFrm" name="contactFrm" ng-submit="adicionarMusica(musica)">
              <input type="text" required="" placeholder="Nome da música" value="" name="name" class="txt" ng-model="musica.nomeMusica">
              <input type="text" required="" placeholder="Ano de lançamento da música" value="" name="age" class="txt" ng-model="musica.anoLancamento">
              <input type="text" required="" placeholder="Duração da música" value="" name="url" class="txt" ng-model="musica.duracao">
              <input type="text" required="" placeholder="Nome do album" value="" name="name" class="txt" ng-model="musica.nomeAlbum">
              <input type="text" required="" placeholder="Nome do artista" value="" name="age" class="txt" ng-model="musica.nomeArtista">
              <input type="submit" value="Adicionar" name="submit" class="txt2"></input>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="js/module.js"></script>
  <script src="js/musicaService.js"></script>
  <script src="//code.angularjs.org/1.4.4/angular-route.js"></script>
  <script src="js/amController.js"></script>

</body>
</html>
