<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Sistema de Música</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<div class="row" ng-controller="artistaController">

		<div class="col-md-8">

			<div class="lista-artistas"​ ng-repeat="artista in artistas | filter: artistaPesquisado">
				<div class="col-md-4">
					<div class="index-content">
						<div class="container">
							<div class="col-lg-4">
								<div class="card">
									<img ng-src="{{artista.imagemArtista}}" width="350x" height="200px">
									<h4>{{artista.nomeArtista}}</h4>
									<p ng-repeat="album in albuns()">{{album.nomeAlbum}}</p>
									<div class="adicionar">
										<a title="Adicionar" ng-click="adicionarArtistaFavoritos(artista)">
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</a>
									</div>
									<div class="nota" class="col-md-6">
										<label> Nota: {{artista.nota}}
										<select class="form-control" ng-model="artista.nota">
											<option ng-repeat="nota in notas" ng-click="adicionarNotaArtista(artista)">{{nota}}</option>
										</select>
									</label>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>

<div class="col-md-4">

	<button ng-click="removerTodosArtistas()">
		<span class="glyphicon glyphicon-remove" aria-hidden="true">
		</span>
	</button>

	<div id="custom-search-input">
		<div class="input-group col-md-12">
			<input type="text" class="form-control input-lg" placeholder="Buscar" ng-model="nomeArtistaPesquisado"/>
			<span class="input-group-btn">
				<button class="btn btn-info btn-lg" type="button" ng-click="pesquisarArtistas(nomeArtistaPesquisado)">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			</span>
		</div>
	</div>

	<div class="form_main">
		<h4 class="heading"><strong>Adicionar</strong> artista <span></span></h4>
		<div class="form">
			<form method="post" id="contactFrm" name="contactFrm" ng-submit="adicionarArtista(artista)">
				<input type="text" required="" placeholder="Nome do artista" value="" name="name" class="txt" ng-model="artista.nomeArtista">
				<input type="text" required="" placeholder="Idade do artista" value="" name="age" class="txt" ng-model="artista.idadeArtista">
				<input type="text" required="" placeholder="Link da foto do artista" value="" name="url" class="txt" ng-model="artista.imagemArtista">
				<input type="submit" value="Adicionar" name="submit" class="txt2"></input>
			</form>
		</div>
	</div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/module.js"></script>
<script src="//code.angularjs.org/1.4.4/angular-route.js"></script>
<script src="js/artistaController.js"></script>

</body>
</html>
