<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Cadastro Usuario</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <!-- Parte de login e cadastro de usuario -->
  <div class="container-fluid" ng-controller="UserController as ctrl">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" 
  <div class="form_main">
    <h4 class="heading"><strong>Cadastrar</strong> usuario <span></span></h4>
    <div class="form">
      <form method="post" id="contactFrm" name="contactFrm" ng-submit="ctrl.createUser(ctrl.user)">
        <input type="text" required="" placeholder="Nome de usuario" value="" name="name" class="txt" ng-model="ctrl.user.nome">
        <input type="text" required="" placeholder="Senha do usuario" value="" name="age" class="txt" ng-model="ctrl.user.senha">
        <input type="text" required="" placeholder="Email do usuario" value="" name="url" class="txt" ng-model="ctrl.user.email">
        <input type="submit" value="Adicionar" name="submit" class="txt2"></input>
      </form>
    </div>
  </div>
</div>

</div>

    <!-- <div class="panel panel-default">
      <div class="panel-heading"><span class="lead">User Registration Form </span></div>
      <div class="formcontainer">
        <form ng-submit="ctrl.createUser(ctrl.user)" name="myForm" class="form-horizontal">
          <input type="hidden" ng-model="ctrl.user.id" />
          <div class="row">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="uname">Nome</label>
              <div class="col-md-7">
                <input type="text" ng-model="ctrl.user.nome" id="uname" class="username form-control input-sm" placeholder="Coloque seu nome" />
                <div class="has-error" ng-show="myForm.$dirty">
                  <span ng-show="myForm.uname.$error.required">This is a required field</span>
                  <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                  <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="age">Senha</label>
              <div class="col-md-7">
                <input type="text" ng-model="ctrl.user.senha" id="age" class="form-control input-sm" placeholder="Coloque sua senha"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="col-md-2 control-lable" for="salary">Email</label>
              <div class="col-md-7">
                <input type="text" ng-model="ctrl.user.email" id="salary" class="form-control input-sm" placeholder="Coloque seu email" />
                <div class="has-error" ng-show="myForm.$dirty">
                  <span ng-show="myForm.salary.$error.required">This is a required field</span>
                  <span ng-show="myForm.salary.$invalid">This field is invalid </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-actions floatRight">
              <input type="submit" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
            </div>
          </div>
        </form>
      </div>
    </div> -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="js/module.js"></script>
  <script src="js/UserService.js"></script>
  <script src="js/configInterceptor.js"></script>
  <script src="js/authInterceptor.js"></script>
  <script src="js/UserController.js"></script>

</body>
</html>
