<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Sistema de Música</title>

	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/module.js"></script>
	<script src="js/artistaController.js"></script>

</head>
	<body>
		<div ng-controller="artistaController">

			<form class="form-artista" ng-submit="adicionarArtista()">

				<h1><strong>Adicionar um Artista</strong></h1>
				<div class="form-nomeArtista">
					<label for="nomeArtista">Digite o Nome do Artísta</label>
					<input type="text" id="nomeArtista" ng-model="novoArtista.nomeArtista" name="username" required>
				</div>
				<div class="form-idadeArtista">
					<label for="idadeArtista">Idade do artista</label>
					<input type="number" id="idadeArtista" ng-model="novoArtista.idadeArtista" name="userage" required>
				</div>
				<div class="form-url">
					<label for="imagemArtista">Endereço da imagem</label>
					<input type="url" id="imagemArtista" ng-model="novoArtista.imagemArtista" name="userphoto" required>
				</div>
				<footer>
					<button type="reset">Limpar</button>
					<button type="submit">Salvar</button>
				</footer>
			</form>

			<div class="buscador">
				<input class="inputBuscador" type="text" placeholder="Buscar..." ng-model="nomeArtistaPesquisado">
				<button class="botao" ng-click="pesquisarArtistas(nomeArtistaPesquisado)"></buttom>
			</div>
				<h1 class="tituloOne">Meus Artistas</h1>

				<div class="lista-artistas"​ ng-repeat="artista in artistas | filter: artistaPesquisado">
					<button class="del" title="Excluir" ng-click="removerArtista(artista.nomeArtista)"></button>
					<button class="add" title="Adicionar" ng-click="adicionarArtistaFavoritos(artista)"></button>

					<p class="nomeArtista"><strong>{{artista.nomeArtista}}</strong></p>

					<div class="artistas">
						<div class="nomeAlbuns">
						<form>
							<p>Albuns</p>
							<SELECT class="albuns" NAME = "lista" SIZE=6>
							<OPTION ng-repeat="album in artista.albuns">{{album.nomeAlbum}}
							</SELECT>
						</form>
						</div>

					<div class="notaArtista">
							<p>Nota</p>
							<form>
								<SELECT NAME = "lista" SIZE=1 ng-model="artista.notaArtista">
									<OPTION>1
									<OPTION>2
									<OPTION>3
									<OPTION>4
									<OPTION>5
								</SELECT>
							</form>
						</div>
					<img ng-src="{{artista.imagemArtista}}">
					</div>
				</div>

				<h2 class="tituloTwo">Meus artistas Favoritos</h2>

				<div class="listaFavoritos" ng-repeat="artista in artistasFavoritos">
					<span class="nomeArtista">{{artista.nomeArtista}}<span>
					<span ng-click="removerArtistaFavoritos(artista.id)"> R </span>

					<div class="checkbox">
						<input id="checkFavoritos" type="checkbox" ng-model="myVar">
						<label id="checkLabelFavoritos" for="check">Detalhes</label>
					</div>

					<div ng-show="myVar">
						<p ng-repeat="album in artista.albuns">{{album.nomeAlbum}}</p>
						<img ng-src="{{artista.imagemArtista}}" height="100" width="100">
					</div>
				</div>

		</div>
</body>
</html>
