<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <title>Login Usuario</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="UserController">

  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-md-offset-3">
        <div class="form_main">
          <h4 class="heading">
            <strong>Login</strong> Usuario
            <span></span>
          </h4>
          <div class="form">
            <form method="post" id="contactFrm" name="contactFrm" ng-submit="login(usuario)">
              <input type="text" required="" placeholder="Nome de usuario" value="" name="name" class="txt" ng-model="usuario.username">
              <input type="text" required="" placeholder="Digite sua senha" value="" name="age" class="txt" ng-model="usuario.password">
              <input type="submit" value="Logar" name="submit" class="txt2">
              <button class="btn btn-outline-primary rounded w-25 p-2" ng-click="logout()">Log out</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="form_main">
          <h4 class="heading">
            <strong>Cadastrar</strong> usuario
            <span></span>
          </h4>
          <div class="form">
            <form method="post" id="contactFrm" name="contactFrm" ng-submit="cadastrarUsuario(usuarioCadastravel)">
              <input type="text" required="" placeholder="Nome de usuario" value="" name="name" class="txt" ng-model="usuarioCadastravel.nome">
              <input type="text" required="" placeholder="Senha do usuario" value="" name="age" class="txt" ng-model="usuarioCadastravel.senha">
              <input type="text" required="" placeholder="Email do usuario" value="" name="url" class="txt" ng-model="usuarioCadastravel.email">
              <input type="submit" value="Adicionar" name="submit" class="txt2">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="//code.angularjs.org/1.4.4/angular-route.js"></script>
  <script src="js/module.js"></script>
  <script src="js/controller/UserController.js"></script>

</body>

</html>