<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <title>Musiteca playlist</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="playlistController">

  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="form_main">
          <h4 class="heading">
            <strong>Olá
              <i>{{nomeUsuario}}</i> Crie sua</strong> Playlist
            <span></span>
          </h4>
          <div class="form">
            <form method="post" id="contactFrm" name="contactFrm" ng-submit="criarPlaylist(playlist)">
              <input type="text" required="" placeholder="Nome da Playlist" class="txt" ng-model="playlist.nome">
              <input type="submit" value="Criar" class="txt2">
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nome da Playlist</th>
              <th scope="col">Autor</th>
              <th scope="col">Ver mais</th>
              <th scope="col">Editar</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody ng-repeat="playlist in playlists">
            <tr>
              <th scope="row">{{playlist.nome}}</th>
              <td>
                <strong>{{playlist.usuario.nome}}</strong>
              </td>
              <td>

                <!-- Link para abrir o Modal -->

                <a ng-click="carregarMusicasPlaylist(playlist.nome)" data-toggle="modal" data-target="#modalvermais{{$index}}">
                  <i class="fa fa-play" style="cursor: pointer;font-size:30px;color:rgb(68, 68, 177);"></i>
                </a>

                <!-- Modal do botão de ver mais -->

                <div class="modal fade" id="modalvermais{{$index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Músicas da playlist {{playlist.nome}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul class="list-group">
                          <li class="list-group-item active">Músicas</li>
                          <li ng-repeat="musica in musicas" class="list-group-item">{{musica.nomeMusica}}
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
              <td>

                <!-- Link para abrir o Modal -->

                <a ng-click="carregarMusicasPlaylist(playlist.nome)" data-toggle="modal" data-target="#modaleditar{{$index}}">
                  <i class="fa fa-edit " style="cursor: pointer;font-size:30px;color:rgb(68, 68, 177)"></i>
                </a>

                <!-- Modal do botão de editar -->

                <div class="modal fade" id="modaleditar{{$index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edição da playlist {{playlist.nome}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="input-group mb-4">
                          <input ng-model="nomeMusica" type="text" class="form-control" placeholder="Nome da música" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button ng-click="adicionarMusicaPlaylist(playlist,nomeMusica)" class="btn btn-outline-secondary" type="button">Adicionar música</button>
                          </div>
                        </div>
                        <ul class="list-group">
                          <li class="list-group-item active">Músicas</li>
                          <li ng-repeat="musica in musicas" class="list-group-item">{{musica.nomeMusica}}
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
              <td>

                <!-- Link para abrir o Modal -->

                <a data-toggle="modal" data-target="#exampleModal{{$index}}">
                  <i class="fa fa-close " style="cursor: pointer;font-size:30px;color:red "></i>
                </a>

                <!-- Modal do botão de excluir -->

                <div class="modal fade" id="exampleModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Exclusão da playlist {{playlist.nome}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Você realmente deseja excluir essa playlist ?? :(
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button ng-click="excluirPlaylist(playlist)" type="button" class="btn btn-danger">Excluir</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="js/module.js "></script>
  <script src="js/services/playlistService.js "></script>
  <script src="js/controller/playlistController.js "></script>

</body>

</html>