<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Musiteca</title>
</head>

<body ng-controller="artistaController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" ng-model="nomeArtista" type="search" placeholder="Nome do Artista..." aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" ng-click="pesquisarArtistas(nomeArtista)">Buscar artista</button>
                    </form>
                </nav>
            </div>
            <div class="col-md-4" class="lista-artistas" ​ ng-repeat="artista in artistas | filter: artistaPesquisado">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" ng-src="{{artista.imagemArtista}}" alt="Card image cap" width="250px" height="250px">
                        <div class="card-body">
                            <h5 class="card-title">
                                <strong>{{artista.nomeArtista}}</strong>
                            </h5>

                            <!-- Button trigger modal -->
                            <button ng-click="carregaMusicaAlbumArtista(artista.nomeArtista)" type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter{{$index}}">
                                Mais informações
                            </button>

                            <button class="btn btn-xs btn-danger" ng-click="adicionarFavoritos(artista)">
                            <i class="fa fa-star"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade bd-example-modal-lg" id="exampleModalCenter{{$index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-primary" id="exampleModalLongTitle">
                                                <strong>
                                                    <i class="fa fa-headphones"></i>
                                                    {{artista.nomeArtista}}</strong>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul class="list-group">
                                                        <li class="list-group-item active">Lista de Albuns</li>
                                                        <li ng-repeat="album in albuns" class="list-group-item">{{album.nomeAlbum}}</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <select ng-model='artista.ultimaMusicaOuvida' class="custom-select" id="inputGroupSelect04">
                                                            <option ng-repeat='musica in musicas'>{{musica.nomeMusica}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <button ng-click="atualizarArtista(artista)" class="btn btn-outline-secondary" type="button">Alterar</button>
                                                        </div>
                                                    </div>

                                                    <br>

                                                    <h4 class="text-primary">
                                                        <i class="fa fa-volume-up"></i> Ultima Música Ouvida</h4>
                                                    <p class="text-primary">{{artista.ultimaMusicaOuvida}}</p>

                                                    <div class="input-group">
                                                        <select ng-model='artista.nota' class="custom-select" id="inputGroupSelect04">
                                                            <option ng-repeat='nota in notas'>{{nota}}</option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <button ng-click="atualizarArtista(artista)" class="btn btn-outline-secondary" type="button">Alterar</button>
                                                        </div>
                                                    </div>

                                                    <br>

                                                    <h4 class="text-primary">
                                                        <i class="fa fa-edit"></i> Nota do Artista</h4>
                                                    <p class="text-primary">{{artista.nota}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/module.js"></script>
    <script src="js/controller/artistaController.js"></script>

</body>

</html>